<form method="post" action="{{ path('prog_muscul_delete', {'id': prog_muscul.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prog_muscul.id) }}">
    <button class="btn">Delete</button>
</form>
